.float-menu {
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    position: fixed;
    right: 0;
    z-index: 4000;
  }

  .mat-paginator-page-size {
    /* display: none !important; */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }