<div nz-row>
  <div nz-col nzSpan="3">
    <nz-input nzType="search" [(ngModel)]="keyword" nzPlaceHolder="搜尋" style="width: 100%;" (keyup.enter)="search()"></nz-input>
  </div>
  <!-- <div nz-col nzSpan="2">
    <button nz-button [nzType]="'default'" (click)="search()">
      <i class="anticon anticon-search"></i>
      <span>Search</span>
    </button>
  </div> -->
  <div nz-col nzSpan="4">
    <button nz-button nzType="dashed" (click)="showModal()">
      <span>
        <i class="anticon anticon-plus"></i>新增</span>
    </button>
  </div>
</div>

<div nz-row>
  <nz-table #nzTable [nzDataSource]="goods" nzPageSize="10" nzDataChange="nzData">
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="edit(data.id)">
        <td nz-td>
          <p>{{ data.products.producer }} {{ data.products.chinesename }} {{ data.products.dosage }}</p>
          <p>{{ data.products.name }}</p>
          <p>{{ data.products.package }}</p>
        </td>
        <td nz-td>
          <p>{{ data.products.nhidrugcode }}</p>
          <p>${{ data.products.nhiprice }}</p>
        </td>
        <td nz-td>
          <p *ngFor="let unit of data.units"> {{ unit.subtractstockqty }} / {{ unit.title }} ${{ unit.price}}</p>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'新上架商品'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent>

    <form nz-form (ngSubmit)="submitForm()" novalidate>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>標題</label>
        </div>
        <div nz-form-control nz-col>
          <nz-input nzPlaceHolder="標題" required>
          </nz-input>
        </div>
        <div nz-form-label nz-col>
          <label>說明</label>
        </div>
        <div nz-form-control nz-col>
          <nz-input nzPlaceHolder="說明">
          </nz-input>
        </div>
        <div nz-form-label nz-col>
          <label>單位</label>
        </div>
        <div nz-form-control nz-col>
          <nz-input nzPlaceHolder="單位">
          </nz-input>
        </div>
        <div nz-form-label nz-col>
          <label>價格</label>
        </div>
        <div nz-form-control nz-col>
          <nz-input nzPlaceHolder="價格">
          </nz-input>
        </div>
      </div>

      <div nz-form-item nz-row nzGutter="8">
        <div nz-form-label nz-col nzSpan="24">
          <label>單位:</label>
        </div>

        <div nz-form-control nz-col nzSpan="7">
          <nz-input nzPlaceHolder="顯示名稱">
          </nz-input>
        </div>

        <div nz-form-control nz-col nzSpan="7">
          <nz-input nzPlaceHolder="減去庫存數量">
          </nz-input>
        </div>

        <div nz-form-control nz-col nzSpan="7">
          <nz-input nzPlaceHolder="價格">
          </nz-input>
        </div>

        <div nz-form-control nz-col nzSpan="3">
          <button nz-button nzSize="small" nzType="default" [nzShape]="'circle'" (click)="removeField(control,$event)">
            <i class="anticon anticon-minus"></i>
          </button>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-control nz-col nzSpan="12">
          <button nz-button nzType="dashed" [nzSize]="'large'" (click)="addField($event)">
            <i class="anticon anticon-plus"></i>
            <span> Add field</span>
          </button>
        </div>
      </div>

    </form>


    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取 消
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
      新 增
    </button>
  </ng-template>
</nz-modal>