<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <input matInput [(ngModel)]="searchedInputValue" (keyup.enter)="searchedButtonClick()" placeholder="搜尋" style="width:60%">
  </mat-toolbar-row>
</mat-toolbar>

<mat-spinner *ngIf="isSpinnerVisible"></mat-spinner>

<!-- <form [formGroup]="form"> -->
<mat-list *ngFor="let goods of list">
  <mat-list-item>
    <h1 mat-line>{{ goods.title }}</h1>
    <h6 mat-line>{{ goods.products.nhiDrugCode}} | {{ goods.products.nhiPrice | currency}}</h6>

    <div *ngFor="let unit of goods.units">
      <mat-form-field>
        <input matInput placeholder="{{unit.title}}" type="number">
        <mat-hint>{{ unit.subtractStockQty }} / {{ unit.title }} {{ unit.price | currency}}</mat-hint>
      </mat-form-field>
    </div>

    <span style="width:150px">小計：1400</span>
  </mat-list-item>
</mat-list>
<!-- </form> -->