<h1 mat-dialog-title>變更密碼</h1>

<div nat-dailog-content>
  <form [formGroup]="form" novalidate>
      <mat-form-field>
        <input type="password" matInput placeholder="密碼" formControlName="currentPassword">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="新密碼" formControlName="newPassword">
      </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="cancelButtonClick()">取消</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="outputData" [disabled]="form.invalid">確認</button>
</div>