<nz-layout>
  <nz-header style="background: #fff; padding:0;">
    <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
  </nz-header>

  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <!-- <li nz-menu-item>廠商</li> -->
        <!-- <li nz-menu-item>商品</li> -->
        <!-- <li nz-menu-item>供貨商</li> -->
        <!-- <li nz-menu-item>進貨</li> -->
        <li nz-menu-item>上架</li>
        <li nz-menu-item>會員</li>
        <li nz-menu-item>訂單</li>
        <!-- <li nz-menu-item>出貨</li> -->
        <!-- <li nz-menu-item>最新消息</li> -->
      </ul>
    </nz-sider>
    <nz-layout style="min-height: 93vh; background: #fff;">
      <nz-content>
        <app-goods></app-goods>
      </nz-content>

      <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>

    </nz-layout>
  </nz-layout>
</nz-layout>