<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div style="padding-left: 2vw;min-width: 12vw;">
      <h1>益全生技藥品</h1>
    </div>
<div>
    <button mat-icon-button disableRipple="true">
        <mat-icon>search</mat-icon>
      </button>
  
    <input matInput  placeholder="搜尋" style="width: 47vw;">
</div>
   
  

    <span style="flex: auto;"></span>

    <button mat-button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="goods">上架商品</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="cart">購物車</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="order">訂單</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>