<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    
    <button mat-button>
      Logo
    </button>

    <button mat-button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="搜尋">
    </mat-form-field>

    <span style="flex: auto;"></span>

    <button mat-button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>上架商品</mat-list-item>
      <mat-list-item>購物車</mat-list-item>
      <mat-list-item>訂單</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-cart></app-cart>
  </mat-sidenav-content>
</mat-sidenav-container>