<mat-toolbar>
  <mat-toolbar-row>
    <button class="float-menu" mat-fab (click)="addedButtonClick()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input matInput [(ngModel)]="searchedInputValue" (keyup.enter)="searchedButtonClick()" placeholder="搜尋" style="width:60%">
    
    <mat-paginator #paginator [length]="totalCount" [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions" ></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<mat-spinner *ngIf="isSpinnerVisible"></mat-spinner>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{ user.userName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="disabled">
    <mat-header-cell *matHeaderCellDef mat-sort-header>disabled</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{ user.isDisabled ? "停用" : "啟用"}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="tableRowClick(row.id)"></mat-row>
</mat-table>